# Python
__pycache__/
*.pyc
*.egg-info/
.ruff_cache/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.svelte-kit/

# Infra
infra/.venv/
infra/cdk.out/
infra/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
